<form [formGroup]="myForm" (ngSubmit)="submit()">

    <div class="form-group">
        <label for="title">Title</label>
        <input formControlName="title" id="title" type="text" class="form-control">
        <div *ngIf="f.title?.touched && f.title?.invalid" class="alert alert-danger">
            <div *ngIf="f.title?.errors?.['required']">Title is required.</div>
            <div *ngIf="f.title?.errors?.['minlength']">Title should be 3 character.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="file">File</label>
        <input formControlName="file" id="file" type="file" class="form-control" (change)="onFileChange($event)">
        <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
            <div *ngIf="f.file?.errors?.['required']">File is required.</div>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>